/** Add css rules here for your application. */

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** now starts my css */

.titleLabel {
	font-size: 24px;
	color: #666666;
}

.subscribeHint {
	width: 500px; 
	border: 1px dashed black;
}

a.internal {
	color:blue;
    cursor:pointer
}

a.command {
	color:blue;
    cursor:pointer
}

.menubar_title:hover {
	cursor:pointer;
}

body: {
        font-size: 18px !important;
    }