@charset "UTF-8";
/* CSS Document */



.main {
	width: 94%;
}


.bandeau {
	width:520px;
	height:60px;
	position:relative;
	left:53%;
	margin-left:-260px;
}

.bandeautext {
	width:520px;
	height:60px;
	position:absolute;
	text-align:center;
	font-size:180%;
	font-style:italic;
	font-family:Georgia;
	top:50%;
	margin-top:-0.5em;
}

.textzone{
	width:100%;
	position:relative;
	float:left;
	padding:3%;
	font-family:Arial;
	font-size:100%;
	text-align:justify;
}

h1{
	font-family:Georgia;
	color:#990033;
	font-size:115%;
}